{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container mt-5">
        <form class="row justify-content-center" method="post">
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h3 mb-3 fw-normal text-center">Connexion à Easy Constat</h1>

                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="nni" id="inputNni" placeholder="NNI" value="{{ last_username }}" autofocus>
                            <label for="inputNni">NNI</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Mot de passe">
                            <label for="inputPassword">Mot de passe</label>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="d-grid gap 2">
                            <button type="submit" class="btn btn-md btn-primary w-100">Se connecter</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
