{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center">Bienvenue sur Easy Constat</h1>
        </div>
    </div>

{% endblock %}
