{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center mt-4">Bienvenue sur Easy Constat</h1>
            <section id="cards" class="container mt-4">
                <div class="card mx-4">
                    <div class="card-header bg-primary-subtle">
                        <h5 class="mb-0 text-primary-emphasis">Créer un constat</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Rédiger une fiche d'anomalie matérielle</h5>
                        <p class="card-text lead">
                            La fiche d'anomalie matérielle est un document qui permet de constater l'état d'un matériel
                            lors de la réalisation d'une activité.
                        </p>
                        <p class="card-text">
                            Pour créer une fiche d'anomalie matérielle, cliquez sur le bouton ci-dessous.
                        </p>
                        <a href="#" class="btn btn-primary text-white rounded-5">Créer une fiche d'anomalie matérielle</a>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
