// Font Family
$font-family-sans-serif: 'Hind', sans-serif;

// Surcharge des variables de Bootstrap
$primary: #ff6600;
$secondary: #747d88;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$blue: #007bff;

$body-color: #747d88;


// Importer Bootstrap
@import "../../vendor/bootstrap/scss/bootstrap";

// Importer les Fonts
@import url('../../fonts/Hind/Hind-Medium.ttf');
@import url('../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');

// Style CARDS
.card-title {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
