{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    {% set breadcrumbs = [
        { 'url': path('home_index'), 'label': 'Accueil' },
        { 'url': path('user_index'), 'label': 'Utilisateurs' },
        { 'url': path('user_edit', {'id': user.id}), 'label': 'Modifier' },
        { 'text': null, 'label': 'Modifier ' ~ user.firstname ~ ' ' ~ user.lastname ~ ' (' ~ user.nni ~ ')' }
    ] %}
    {% include 'partials/breadcrumb.html.twig' %}

    <main class="container my-4">
        <h1>Modifier l'utilisateur</h1>

        {{ include('user/_form.html.twig', {'form': form, 'button_label': 'Sauvegarder les modifications'}) }}
    </main>
{% endblock %}
